body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}

.marker {
  height: 24px;
  width: 24px;
  transform: translate(-50%, -100%);
  cursor: pointer;
}

.popup {
  max-width: 30vw;
  padding: 0.5rem;
  text-align: center;
  z-index: 100;
}
.popup > h3,
p,
small {
  display: block;
}
.error {
  color: #f05305;
}
.popup img {
  height: 200px;
  width: auto;
  display: block;
  text-align: center;
  margin: 5px auto;
}

.entry-form lable,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1.3rem;
  margin: 0.1rem 0;
  display: block;
  width: 100%;
}

button {
  padding: 7px;
  background: none;
  border: solid black 1px;
  border-radius: 8px;
  cursor: pointer;
  margin: 8px;
}
.button{
  box-shadow: 0px 8px 15px rgba(2, 182, 252, 0.5);
  background-color:rgb(3 ,182, 252);
  color:white;
  padding:15px;
  border:none;
  font-size:1rem;
  width:10vw;
}
.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

